
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    //font-size: calc(10px + (24 - 1) * ((100vw - 375px) / ((1280 - 375))));
  }
  
  body {
    background-color: ghostwhite;
  }

  #app {
    height: 100vh;
    width: 100%;
  }


 @import './vars.scss';
 @import './mixins.scss';